body{
    background-color: lightblue;
    margin: 200px auto;
    text-align: center;
    
}

#banner{
    font-size: 100px;
    text-transform: uppercase;
    background-color: rgb(224, 106, 106);
    color: white;
    height: 200px;
    width: 80%;
    margin: 0 auto;
}
#clock{
    background-color: black;
    font-size: 250px;
    color:white;
    height: 400px;
    width: 80%;
    margin: 0 auto;
}