body{
    text-align: center;
    background-color: #6495ed;
    color: white;
    font-family: helvetica;
}

#add{
    background-color:red;
    border:0;
    color:white;
    padding: 10px 10px;
    padding-right: 40px;
    cursor: pointer;
    margin-top: 35px;
}

.remove{
    margin-top:13px;
    background-color: #f2f205;
    float:right;
    clear: both;
    padding-right: 20px;
    border-radius:5px;
    width: 60px;
    height: 20px;
    border-style: none;
}

#wrapper{
    width: 450px;
    background-color: #000365;
    margin: 120px auto;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 65px;
    border-radius: 25px;
}

ul{
    list-style: none;
    text-align: left;
    line-height: 35px;
}

#task{
    width: 320px;
    height: 30px;
    margin-left: 17px;
}

h1{
    margin-top:30px;
}