input {
    width: 150px;
    height: 100px;
    font-size: 75px;
    border-radius: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    border-style: none;
}

#myform {
    margin-left: 225px;
    margin-top: 20px;
}

h1{
    text-align: center;
    font-size: 80px;
    margin-right: 150px;
    margin-top:20px;
}