body{
    background: lightskyblue;
}

#canvas{
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellow;
    width: 700px;
    height: 300px;
    margin: 50px auto;
}

#primary-number, #secondary-number{
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
}

#primary-number{
    border: solid 4px green;
}

#secondary-number{
    border: solid 4px blue;
}

#add, #equal{
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
}
input{
    border: solid 2px cyan;
    width: 150px;
    height: 30px;
    padding-left: 25px;
}

button{
    width: 100px;
    height: 35px;
    margin: 5px;
    background: red;
    color: white;
    border: 1px solid lightgrey;
}

